<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber News</title>
</head>
<body>
    <h1>Cyber News</h1>
    <ul>
        {% for article in articles %}
        <li>
            <a href="{{ url_for('news_detail', article_id=article.id) }}">
                <img src="{{ url_for('static', filename='news_images/' + article.image) }}" alt="{{ article.title }}" width="100">
                <h2>{{ article.title }}</h2>
            </a>
            <p>Published by {{ article.publisher }} on {{ article.published_date.strftime('%Y-%m-%d %H:%M:%S') }}</p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
